{% extends "base/base.html" %}

{% block content %}

<div class="card shadow mb-4">
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<a href="#" class="btn btn-danger" title="Guardar">Guardar</a>
		<a href="#" class="btn btn-success" title="Imprimir">Imprimir</a>
		<a href="{% url 'fac:factura_list' %}" class="btn btn-info" title="Cancelar">Cancelar</a>		
	</div>
	<div class="card-body">
		<div class="content">
			<!-- Seccion Superior -->
			<div class="row">
				<!-- Seccion Izquierda -->
				<div class="col-lg-6">
					Sección Izquierda
				</div>
				<!-- Seccion Derecha -->
				<div class="col-lg-6">
					Sección Derecha
				</div>
			</div>
			<!-- Fin Seccion Superior -->
			<hr>
			<!-- Inicio de Detalles -->
			<div class="row p-1">
				Detalles
			</div>
			<!-- Fin Inicio de Detalles -->
		</div>
	</div>
</div>
	
{% endblock %}


{% block  js %}
<script type="text/javascript">

jQuery(document).ready(function($) {
	$("#sidebarToggle").click();
});
</script>
{% endblock %}