<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		{% if obj %}
		<form method="post" role="form" class="form-inline" accept-charset="utf-8" action="{% url 'inv:producto_edit' obj.pk %}">	
		{% else %}
		<form method="post" role="form" class="form-inline" accept-charset="utf-8" action="{% url 'inv:producto_create' %}">		
		{% endif %}
			{% csrf_token %}
			<div class="col-xl-12 col-md-12 mb-6">
				{% if obj %} 
				<div class="card border-left-warning 
				shadow h-100 py-2">
				{% else %}
				<div class="card border-left-success 
				shadow h-100 py-2">
				{% endif %} 
					<div class="card-body">
						<div class="container no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
									{% if obj %} Editar {% else %} Nueva {% endif %} 
									Producto
								</div>
							</div>
							<hr class="sidebar-divider">
							<div class="row">						
								{# {{ form.as_p }} #}
							</div>
							{% comment %}
								
							{% endcomment %}
							<div class="row">
								<div class="col-md-4">
									{{ form.codigo.label }}
								</div>
								<div class="col-md-4">
									{{ form.codigo_barra.label }}
								</div>
								<div class="col-md-4">
									{{ form.descripcion.label }}
								</div>
							</div>		
							<div class="row">
								<div class="col-md-4">					
									{{ form.codigo }}
								</div>
								<div class="col-md-4">					
									{{ form.codigo_barra }}
								</div>
								<div class="col-md-4">	
									{{ form.descripcion }}
								</div>
							</div>		
							<div class="row">
								<div class="col-md-4">
									{{ form.estado.label }}
								</div>
								<div class="col-md-4">
									{{ form.precio.label }}
								</div>
								<div class="col-md-4">
									{{ form.existencia.label }}
								</div>									
							</div>	
							<div class="row">
								<div class="col-md-4">	
									{{ form.estado }}
								</div>
								<div class="col-md-4">	
									{{ form.precio }}
								</div>
								<div class="col-md-4">
									{{ form.existencia }}
								</div>									
							</div>	
							<div class="row">
								<div class="col-md-4">
									{{ form.ultima_compra.label }}
								</div>
								<div class="col-md-4">
									{{ form.marca.label }}
								</div>
								<div class="col-md-4">
									{{ form.unidad_medida.label }}
								</div>
							</div>	
							<div class="row">								
								<div class="col-md-4">					
									{{ form.ultima_compra }}
								</div>
								<div class="col-md-4">					
									{{ form.marca }}
								</div>
								<div class="col-md-4">					
									{{ form.unidad_medida }}
								</div>
							</div>								
							<div class="row">								
								<div class="col-md-6">			
									Categoria
								</div>
								<div class="col-md-6">	
									Sub - Categoria
								</div>
							</div>	
							<div class="row">								
								<div class="col-md-6">			
									<select name="categoria" id="categoria_id" class="form-control">
										<option value="">-----------</option>
										{% for item in categorias %}
											<option value="{{ item.id }}">{{ item.descripcion }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6">	
									<select name="sub_categoria" id="sub_categoria_id" class="form-control">
										<option value="">-----------</option>
										{% for item in sub_categorias %}
											<option value="{{ item.id }}" data-chained="{{ item.categoria.id }}">{{ item.descripcion }}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<hr class="sidebar-divider">
							<div class="row text-center">
								<div class="col">
									<button type="submit" class="btn btn-primary"><li class="fa fa-save"></li> Guardar</button>
									<button class="btn btn-danger" type="button" onclick="return cerrar_modal()"><li class="fa fa-undo"></li> Cancelar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($) {		
		$("#categoria_id").val("{{ obj.sub_categoria.categoria.id }}").change();
		$("#sub_categoria_id").val("{{ obj.sub_categoria.id }}").change();
		$("#sub_categoria_id").chained("#categoria_id");
	});
</script>