{% extends "base/base.html" %}

{% block content %}
<form action="" method="post" class="form-inline" accept-charset="utf-8">
	{% csrf_token %}
	<div class="col-xl-12 col-md-12 mb-6">
		{% if obj %} 
		<div class="card border-left-warning 
		shadow h-100 py-2">
		{% else %}
		<div class="card border-left-success 
		shadow h-100 py-2">
		{% endif %} 
			<div class="card-body">
				<div class="container no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
							{% if obj %} Editar {% else %} Nueva {% endif %} 
							Unidad de Medida
						</div>
					</div>
					<hr class="sidebar-divider">
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								{{form.descripcion}}
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="estado">Estado</label>
								<!--<input type="checkbox" name="estado" class="form-control" id="estado" {% if obj.estado %} checked="checked" {% endif %} />-->
								{{form.estado}}
							</div>
						</div>
						
						<!--{{form.as_p}}-->
					</div>
					<hr class="sidebar-divider">
					<div class="row text-center">
						<div class="col">
							<button type="submit" class="btn btn-primary"><li class="fa fa-save"></li> Guardar</button>
							<a href="{% url 'inv:marca_list' %}" title="Cancelar" class="btn btn-danger"><li class="fa fa-undo"></li> Cancelar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}

{% block  js %}
	
{% endblock %}